.auth-form-container {
    border: 1px solid #FFAC30;
}
.auth-form-container h2 {
    margin: 0px;
    padding: 25px;
    color: #FFAC30;
    font-size: 60px;
}
.login-form {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}
.login-form button {
    padding: 10px;
    margin: 60px 0 0 0;
    background-color: #FFAC30;
    color: black;
    border-radius: 4px;
    height: 40px;
    width: 70px;
    font-weight: bold;
    cursor: pointer;
}
.input-div {
    display: flex;
    flex-direction: column;
    text-align: left;
}
.input-div label {
    color: white;
    padding: 10px 0px;
}
.input-div input {
    font-size: 20px;
}
.link-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px;

}
.link {
     text-decoration: none;
     color: #FFAC30;
}
.password-input {
    display: flex;
    position: relative;
}
.hello-test {
    position: absolute;
    right: 10px;
    bottom: 3px;
    cursor: pointer;
}