body.active-modal {
    overflow-y: hidden;
}
.btn-modal {
    display: flex;
    font-size: 15px;
    background: none;
    color: #FFAC30;
    border: none;
    cursor: pointer;
    padding: 30px;
    margin-left: 160px;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f1f1f1;
    padding: 12px 28px;
    border-radius: 3px;
    width: 445px;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}
.email-div {
    display: flex;
    justify-content: center;
}
.email-email {
    margin: 5px;
}
.verification {
    cursor: pointer;
    color: #FFAC30;
    background-color: black;
    width: 150px;
}
.code-code {
    display: flex;
    flex-direction: row;
    padding: 10px;
}
.code-code input {
    font-size: 14px;
    height: 22px;
    margin-left: 5px;
}