.auth-form-container1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFAC30;
}
.auth-form-container1 h2 {
    margin: 0px;
    padding: 25px;
    color: #FFAC30;
    font-size: 60px;
}
.register-form {
    width: 500px;
}
.register-form .rdbtnrow {
    display: flex;
    column-gap: 15px;
    padding: 10px 0 0 0;
}
.register-form .rdbtnrow div {
    display: flex;
    column-gap: 10px;
    font-size: 16px;
}
.register-form .input-div select {
    height: 40px;
}
.register-form button {
    padding: 5px;
    margin: 25px 0 0 0;
    background-color: #FFAC30;
    color: black;
    border-radius: 4px;
    height: 40px;
    width: 70px;
    font-weight: bold;
    cursor: pointer;
}
.link-button1 {
    background-color: transparent;
    border: none;
    color: white;
    padding: 15px;
    margin: 0px;
   }
.link {
     text-decoration: none;
     color: #FFAC30;
}